$mobile-breakpoint: 600px;

$font-general: 'Fira Sans', sans-serif;
$font-alternative: 'Orbitron', sans-serif;

$color-pink: #ff52d4;
$color-green: #00ff00;
$color-purple: #483d8b;

$color-bg-purple: rgba(71, 61, 138, 0.4);

$color-shadow-pink: rgba(255, 82, 212, 0.5);
$color-shadow-green: rgba(0, 255, 0, 0.6);

$blur-1px: blur(1px);