.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: calc(100vh - 60px);
    margin: 5% 0 1%;
    padding: 0 40px;
    overflow-y: scroll;
    scrollbar-width: thin;
    align-self: flex-start;
    
    &::-webkit-scrollbar {
        width: 0.1em;
    }
}

.card {
    width: calc(18% - 1em);;
    padding: 2.2em 1.6em 0.8em;
    margin: 1em 0.4em;
    background: $color-bg-purple;
    -webkit-backdrop-filter: $blur-1px;
    backdrop-filter: $blur-1px;
    border: 2px solid $color-purple;
    border-radius: 10px;
    box-shadow: 0px 0px 22px $color-shadow-green;
    position: relative;
    
    &:hover, &:focus {
        box-shadow: 0px 0px 22px $color-shadow-pink;
    }
    
    &:hover .character-img, &:focus .character-img {
        transform: scale(1.1);
    }
    
    &:hover .wrap-img, &:focus .wrap-img {
        filter: drop-shadow(0px 0px 20px $color-shadow-pink);
    }
}


.character-name {
    font-family: $font-alternative;
    color: white;
    text-shadow: 0px 0px 12px $color-shadow-green;
    border-bottom: 1px dashed white;
}

.character-img {
    width: 80%;
    clip-path: polygon(95% 53%, 99% 34%, 86% 12%, 59% 10%, 44% 1%, 35% 16%, 13% 4%, 3% 30%, 7% 46%, 0% 80%, 18% 98%, 41% 98%, 57% 87%, 77% 99%, 97% 75%);
}

.wrap-img {
    filter: drop-shadow(0px 0px 20px $color-shadow-green);
}

@media (max-width: 768px) {
    .card {
      width: calc(50% - 1em);
    }
  }