.filters {
    position: fixed;
    top: 60px; /* Ajusta según sea necesario para evitar superposición con el nav */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 1;

    & + .cards:has(.card) {
        margin-top: 190px;
    }

    & + .cards > .neon{
        margin-top: 100px;
    }

}