nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  z-index: 1000;

  button {
    margin-right: 10px;
  }
  
  .search-bar {
    display: inline;
    input {
      margin: auto 10px;
      box-shadow: $color-green 0px 1px, transparent 0px -0.1em, transparent 0.1em 0px, transparent -0.1em 0px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    height: auto;

    button {
      margin: 5px 0;
    }
  }
}