button {
    line-height: 1.2;
    padding: 8px 20px;
    color: $color-green;
    background: transparent;
    font-weight: bolder;
    border: none;
    border-radius: 0;
    box-shadow: $color-green 0px 0.2em, $color-green 0px -0.2em, $color-green 0.2em 0px, $color-green -0.2em 0px;
    
    &:hover {
        transform: scale(0.9);
    }
    
    &:has(a.active) {
        box-shadow: $color-pink 0px 0.2em, $color-pink 0px -0.2em, $color-pink 0.2em 0px, $color-pink -0.2em 0px;
    }
    
    a {
        color: $color-green;
    }

    a.active {
        color: $color-pink;
    }
    
}
.btn {
    background-color: transparent;
    color: white;
    box-shadow: none;
    
}
.fav-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    
    .fa-beat {
        color: $color-pink;
    }
    &:hover {
        color: $color-pink;
        transform: scale(1.1);
    }
}

.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    
    &:hover {
        color: $color-pink;
        transform: scale(1.1);
    }
}